# Environnement virtuel
venv/
env/
ENV/
.venv/

# Fichiers de cache
.cache/
*.cache

# Fichiers temporaires
tmp/
temp/
*.tmp

staticfiles/

# Bases de données SQLite (ne pas envoyer en production)
db.sqlite3
*.sqlite3
*.db
*.sqlite
*.sqlite3-journal